<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Incluir menú principal -->
            <% include ./partials/menu-principal %>
        </div>
        <div class="col-md-9">
            <header class="jumbotron">
                <div class="container">
                    <h1>PFG - UFV</h1>
                    <p>Gestión de Proyectos de Fin de Grado y evaluación mediante rúbricas</p>
                </div>
            </header>
        </div>
    </div>
</div>

<% include ./partials/footer %>